/* Slider container */
.slider-container {
    position: relative;
    width: 100%;
    height: 90vh; /* Full viewport height for the hero section */
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 100%;
    

    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
    height: 100%;
  }
  
  /* Hero section styling */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 300vh;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Next button styling */
  .next-button {
    position: absolute;
    top: 25%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  